<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 extra-spacing-general">
            <div class="row" style="padding-left: 15px;">
                <div class="col-xs-6 spacing-left">
                    <h1 class="display-5">From Date and Time</h1>
                </div>
                <div style="padding-left: 320px;">
                </div>
                <div class="col-xs-6 ">
                    <h1 class="display-5">To Date and Time</h1>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-sm-3 border border-warning spacing-left">            
                        <app-datepicker-basic></app-datepicker-basic>
                        <app-timepicker-basic></app-timepicker-basic>
                    </div>
                    <div class="col-2 spacing-top extra-spacing-left">
                        <fa name="fas fa-arrow-right fa-5x"></fa>
                    </div>
                    <div class="col-sm-3 border border-warning">            
                        <app-datepicker-basic></app-datepicker-basic>
                        <app-timepicker-basic></app-timepicker-basic>
                    </div>
                </div>
                <div class="container">
                    <button type="submit" class="btn btn-outline-primary float-right" style="margin-top: 50px;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



