<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card border-info text-center">
          <div class="card-header">Main Menu</div>
          <div class="card-body">
            <h5 class="card-title">Add Personal Time Off</h5>
            <p class="card-text">Click the button below to keep track of your personal time off.</p>
            <button type="button" class="btn btn-outline-warning"><a [title]="PTO" [routerLink]="['/addPto']">Add PTO</a></button>
          </div>
          <div class="card-footer text-muted">
            Last Update Date: 10 - December - 2019
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card border-warning text-center">
          <div class="card-header">Main Menu</div>
          <div class="card-body">
            <h5 class="card-title">Add Vacation</h5>
            <p class="card-text">Click the button below to keep track of your vacation.</p>
            <button type="button" class="btn btn-outline-warning">Add Vacation</button>
          </div>
          <div class="card-footer text-muted">
            Last Update Date: 10 - December - 2019
          </div>
        </div>
      </div>
    </div>
  </div>