<div class="jumbotron">
    <h1 class="display-4">Hello, Daniel!</h1>
    <p class="lead">Welcome to your Fruit of the loom Vacation and PTO platform.</p>
    <hr class="my-4">
    <p>This is a better way to keep track of your vacation, and PTO hours. You can add, modify, and remove unused PTO or vacation hours.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="row">
    <div class="col-sm-6">
      <div class="card border-info text-center">
        <div class="card-header">Main Menu</div>
        <div class="card-body">
            <h5 class="card-title">Add Personal Time Off</h5>
            <p class="card-text">Click the button below to keep track of your personal time off.</p>
            <button type="button" class="btn btn-info">Add PTO</button>
        </div>
        <div class="card-footer text-muted">
            Last Update Date: 10 - December - 2019
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-warning text-center">
        <div class="card-header">Main Menu</div>
        <div class="card-body">
            <h5 class="card-title">Add Vacation</h5>
            <p class="card-text">Click the button below to keep track of your vacation.</p>
            <button type="button" class="btn btn-info">Add Vacation</button>
        </div>
        <div class="card-footer text-muted">
            Last Update Date: 10 - December - 2019
          </div>
      </div>
    </div>
  </div>