<div class="jumbotron">
  <h1 class="display-4">Hello, Daniel!</h1>
  <p class="lead">Welcome to your Fruit of the loom Vacation and PTO platform.</p>
  <hr class="my-4">
  <p>This is a better way to keep track of your vacation, and PTO hours. You can add, modify, and remove unused PTO or
    vacation hours.</p>
  <p class="lead">
    <a class="btn btn-outline-warning btn-lg" href="#" role="button">Upcoming Day Off: Tuesday, November 17th 2020</a>
    <a class="btn btn-outline-info btn-lg float-right" href="#" role="button">Remaining PTO: 45hrs</a>
    <a class="btn btn-outline-danger btn-lg float-right" href="#" role="button">Remaining Vacation: 15 days</a>
  </p>
</div>