<div class="form-group row">
  <label for="dateofDay" class="col-sm-2 col-form-label">Date:</label>
  <div class="input-group col-sm-6">
    <input class="form-control" placeholder="yyyy-mm-dd" id="dateofDay" name="dp" [(ngModel)]="date" formControlName="date" (ngModelChange)="savedate(date)" ngbDatepicker
      #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <fa name="fas fa-calendar"></fa>
      </button>
    </div>
  </div>
</div>

<hr />
<pre>Model: {{ date | json }}</pre>
<hr />