.btn-link {
    color: #ffc107;
}

.btn-outline-primary {
    color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-primary {
    color: #ffc107;
    border-color: #ffc107;
}

.btn-link:hover {
    color: #ffc107;
    text-decoration: underline;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ffc107;
}